@model PaginatedList<AnagramSolver.Contracts.Anagram>
@{
    ViewData["Title"] = "Word List";
}

@*Returning anagram list*@

<p><u>Word List:</u></p>
@*@foreach (var item in Model)
    {
        <ul>
            <li>@item.Word</li>
        </ul>
    }*@

@*@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
@foreach (var item in Model)
    {
        <ul>
            <li>@item.Word</li>
        </ul>
    }*@
